{% load quiz_filters %}
{% load staticfiles %}
<!DOCTYPE HTML>
<html>

<head>


<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<!-- <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"> -->
<link rel="stylesheet" type="text/css" href="{% static 'quiz/style.css' %}" />


{% if submitted %}
<script>
$(document).ready(function(){
$( "#modal" ).dialog({
    title: "Your email spirit animal is a...",
    width: 600,
    modal: true,
    draggable: false,
    resizable: false,
    });
});
</script>
{% endif %}

</head>


{%if submitted %}

<div id="modal">
    <img id = "result_img" src ="{{best_result.image.url}}" width = 500 height = 200 />
    
    <h2 id="result_name"> {{best_result.name}}!</h2>
    
    <div id="modal_content">
    
        <strong class="share">Share:</strong>
    
        <span class="fb-share-button" data-type="button"></span>

        <span class="tw-share-button"><a href="encodeURI(https://twitter.com/intent/tweet?text=I'm a {{best_result.name}}! What's your spirit animal%3F http://inboxquiz.com{{best_result.image.url}}" class="twitter-share-button" data-url="http://inboxquiz.com/spirit" data-count="none">Tweet</a></span>
        
    
        <!-- linkedIn -->
        <script src="//platform.linkedin.com/in.js" type="text/javascript">
        lang: en_US
        </script>
        <script type="IN/Share"></script>

        <!-- google + -->
        <div class="g-plus" data-action="share" data-annotation="none"></div>

        <p style="font-size:18px"><strong>Your spirit animal is the {{best_result.name}}</strong><p>
        <p>{{best_result.description|safe}}</p>
        <p style="font-size:18px"><strong>Transformation:</strong><p>
        <p>{{best_result.second_description|safe}}</p>
        <p style="font-size:18px"><strong>May have traits of...</strong><p>
        {% for result in second_results %}
          <p><strong>{{result.name}}:</strong> {{result.description|safe}}</p>
        {% endfor %}
    </div>
</div>

{% endif %}

<div class ="quiz_form">
    {% with id=quiz.id %}
    <form action="submit/{{id}}" method = "post">
    {% endwith %}
        {%csrf_token%}
        <img src="../media/whatis.png" class="titleImage">
        
        {% for question in questions %}
            <div>
            <p class = "questions"> {{forloop.counter}}. {{question.title}} </p>
            {% for answers in question.answer_set.all %}
                {% with number_ans|get_item:question.title as number %}
                  
                {% if number = 4 and forloop.counter = 3 %}
                <br>
                {% elif number = 6 and forloop.counter = 4 %}
                <br>
                {% endif %}
        
                <!--{# number|divisibleby:forloop.counter #}-->
                
                <label class ="imgradio" for = "{{answers.id}}">
                    <input type  = "radio" name = "{{question.title}}" id = "{{answers.id}}"  value = "{{answers.id}}" required/></span>
                    <img class = "img{{number}}" src ="{{answers.image.url}}" />
                </label>
                {% endwith %}
            {% endfor %}
            </div>
        {% endfor %}
    
        <input type = "submit" value = "Submit" class="btn" id="submit_btn" />
    </form> 
</div>




<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-8959903-16', 'auto');
  ga('send', 'pageview');

</script>


</body>
</html>
